#main {
    background-image: url(/images/wallpaper.jpg);
   background-size: cover;
    background-color: blanchedalmond; 
    min-height: 900px;
    min-width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    position: static;
    
}


/*nav bar*/
.mainL{
    padding: 20px 30px;
}
.mainR{
    text-align: right;
    position: fixed;
    margin-left: 45%;
    z-index: 1;
}
nav ul {
    padding: 10px;
    background-color: rgba(0, 0, 112, 0.2);
    border-radius: 15px;
   
}
nav ul li {
    display: inline-block;
    margin: 30px;
    margin-bottom: 10px;
}
a{
    font-family: constantia,sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}
.tag{
    margin-top: -200px;
    margin-left: 500px;
}
.me h1{
    font-family: constantia,sans-serif;
    font-size: 70px;
    font-weight: 500;
    text-align: center;
    margin-left: 50px;
    margin-top: 250px;
    border-radius: 20px;
    /* color: rgb(0, 0, 112); */
    color: white;

}
.me{
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(0, 0, 112,0.7);
    margin: 30px 0;
}
.me img{
    margin-right: 250px;
    margin-top: 100px;
}
.socials  ul{
    list-style-type: none;
    /* margin-left: 50px; */
    padding: 30px 10px 20px 10px;
    /* display: inline-block; */
    float: right;
    
}
.socials img{
    width: 50px;
    height: 50px;
    margin-bottom: 20px; 
    margin-right: 30px;  
    margin-right: 100px;
}
footer {
    min-height: 150px;
    background-color: rgba(0, 0, 112, 0.5);
}


/*PAGE 3*/
#Div3   {
    background-color: rgb(44, 56, 82);       
}

#Div3 h2 {                                  /*modification of h1 */
    font-family: Epilogue sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -2px;
    color: white;
    text-align: center;
}
/* .Div3 a {
    text-align: end;
} */

.top {
    
    padding: 30px 50px;    
}
/* .TopR {
    text-align: right;    
} */
.TopR a{
    font-family: constantia,sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-decoration: none;
    color:white;
    
}
.low {
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 10%;
}
.flex {
    padding: 30px; 
    position: relative; 
    margin-bottom: 100px;
    background-image: url(/images/Subscription.jpg);
    background-clip:content-box;
    border: solid 1px white;
    width: 500px;
    height: 600px;
}
.flex:hover{
    /* background: radial-gradient(circle, blue,aqua); */
    background: var(--clr);
}
.flex2 {
    padding: 30px; 
    position: relative; 
    margin-bottom: 100px;
    background-image: url(/images/ZenkaAd.png);
    background-clip:content-box;
    border: solid 1px white;
    width: 500px;
    height: 600px;
}
.flex2:hover{
    /* background: radial-gradient(circle, blue,aqua); */
    background: var(--clr);
}
.flex3 {
    padding: 30px; 
    position: relative; 
    margin-bottom: 100px;
    background-image: url(/images/mockup.jfif);
    background-clip:content-box;
    border: solid 1px white;
    width: 500px;
    height: 600px;
}
.flex3:hover{
    /* background: radial-gradient(circle, blue,aqua); */
    background: var(--clr);

}
/* .LowTx button {
    padding: 9px 18px;
    border-radius: 35px;
} */

.LowTx { 
    position:absolute;
    bottom: 45%;
    right: 30%;

}
.LowTx h1 {
    font-family: Epilogue sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -2px;
    color: white;
}

/*bubbles*/

#Three{
   
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    min-width: 100%
    
}
.ThreeT{
    position: absolute;
    top: 20px;
    width: 100%;
}
.Left nav{
    display: grid;
    grid-template-columns: 10% 90%;
}
.Left{
    padding: 30px 30px;
}
.ThreeT .Right{
    text-align: right;
}
#Three h1{       /*text inside the top section*/
    font-family: constantia,sans-serif;
    font-size: 70px;
    font-weight: 600;
    color: #707070;
    text-align: center;
    margin-left: 30px;
    /* margin-top: 200px; */
    color: rgb(0, 0, 112);
    text-shadow: 5px 4px 4px #4fc3dc;
}
#Three h1 span{       /*text inside the top section*/
    font-family: constantia,sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #707070;
    text-align: center;
    color: rgb(0, 0, 112);
    text-shadow: 5px 4px 4px #4fc3dc;
}



/*the top part with animation bubbles*/
.container {        /*main background*/
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: rgb(0, 0, 112,0.7);
    z-index: -1;
}

 /*styling the span into round shapes and animating*/
.bubbles {     
    position: relative;
    display: flex ;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background:#4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite; 
    animation-duration: calc(125s / var(--1));   
}
.bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
} 
@keyframes animate {
    0% {transform: translateY(100vh) scale(0);}
    100% {transform: translateY(-10vh) scale(1);}
}


/*styling the accordion*/
.accordion{
    width: 100%;
}
.contentBx {
    position: relative;
    margin: 10px 20px;
}
.contentBx.active .content{     /*after clicking the skills/ interest label*/
    min-height: 400px;
    padding: 10px;
    margin-top: 40px;
}
.label {
    position: relative;
    padding: 10px;
    background: linear-gradient(90deg,
    rgba(0, 0, 112) 0%,
    rgba(255, 255, 255, 0.2) 50%);       /*colors used in gradient*/
    box-shadow: inset 10px 10px 25px rgba(0, 0, 0);
    color: #fff;
    cursor: pointer;
    min-height: 60px;
}
.label::before {    /*this style is for collapsing the accordion content*/
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}
.contentBx.active .label::before{     /*this style is for contracting the accordion content*/
    content: '-';
}
.content{
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto; 
}
.content img {
    height: 300px;
    margin-right: 10px;   
}
.content img:last-child {
    height: 300px;
    width: 400px;
    margin-right: 10px;   
}

/*contents for accordion*/
.works{
    display: flex;
   padding: 30px 50px;
   align-content: center;
}

h2{
    font-family: constantia,sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: rgb(0, 0, 112);
}


/*Experience*/

#Page{
    background-color: rgba(0, 0, 112, 0.5);
}
.Exp {
    /* background: linear-gradient(#8277e6, #011721); */
    min-width: 100%;  
    display: grid;
    grid-template-columns: 10% 90%;    
}
.ExpL{
    padding: 60px 30px;
}
.ExpR{
    margin-top: 40px;
    text-align: right;
}
nav ul {
    padding: 30px 30px 30px 30px;
    background-color: rgba(0, 80, 112, 0.2);
    border-radius: 15px;
   
}

.tag{
    margin-top: -200px;
    margin-left: 500px;
}

/*PAGE 3*/
    #Div3   {
        background-color: rgb(44, 56, 82);       
    }

    .Div3 h2 {                                  /*modification of h1 */
        font-family: Epilogue sans-serif;
        font-size: 72px;
        font-style: normal;
        font-weight: 800;
        line-height: 80px;
        letter-spacing: -2px;
        color: white;
        text-align: center;
    }
    /* .Div3 a {
        text-align: end;
    } */

    .top {
        
        padding: 30px 50px;    
    }
    /* .TopR {
        text-align: right;    
    } */
    .TopR a{
        font-family: constantia,sans-serif;
        font-size: 50px;
        font-weight: 700;
        text-decoration: none;
        color:white;
        
    }
    .box{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: center;
        align-items: center;
        min-height: 400px;
        margin-bottom: 50px;
    }
    .card{
        height: 365px;
        padding: 20ppx 35px;
        background-color: #191919;
        border-radius: 20px;
        margin: 15px;
        position: relative;
        overflow: hidden;
        text-align: center;
        transition: 0.5s;
        margin-top: 50px;
        
    }
    .card:hover{
        background: rgba(0, 0, 112, 0.6);
        height: 105%;
        pad: 20px;
    }
    .certs h1{
        font-family: Epilogue sans-serif;
        font-size: 40px;
        font-style: normal;
        /* font-weight: 800; */
        line-height: 20px;
        letter-spacing: -2px;
        color: white;
        text-align: center;
    }
    .certs h2{
        color: aliceblue;
    }

button{
    margin-left: 45%;
    height: 80px;
    width: 300px;
    border-radius: 30px;
    background-color: rgb(0, 0, 112);
    color: aliceblue;
}

.socials  ul{
    list-style-type: none;
    /* margin-left: 50px; */
    padding: 30px 10px 20px 10px;
    /* display: inline-block; */
    float: right;
    
}



/*contact*/
.page{
    background-color: rgba(0, 0, 112, 0.5);
}


.tag{
    margin-top: -200px;
    margin-left: 500px;
}

/*PAGE 3*/
    .Div3   {
        background-color: rgb(44, 56, 82);       
    }

    .Div3 h2 {                                  /*modification of h1 */
        font-family: Epilogue sans-serif;
        font-size: 72px;
        font-style: normal;
        font-weight: 800;
        line-height: 80px;
        letter-spacing: -2px;
        color: white;
        text-align: center;
    }
    /* .Div3 a {
        text-align: end;
    } */

    .top {
        
        padding: 30px 50px;    
    }
    /* .TopR {
        text-align: right;    
    } */
    .TopR a{
        font-family: constantia,sans-serif;
        font-size: 50px;
        font-weight: 700;
        text-decoration: none;
        color:white;
        
    }
    .bx{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-items: center;
        min-height: 400px;
        margin-bottom: 50px;
    }
    .crd{
        height: 100%;
        /* padding: 20px 10px; */
        background-color: #191919;
        margin: 15px;
        position: relative;
        overflow: hidden;
        transition: 1s;
        margin-top: 50px;
        
    }
    .crd2{
        height: 100%;
        padding: 20px 20px 5px 20px;
        background-color: #191919;
        margin: 15px;
        position: relative;
        overflow: hidden;
        transition: 1s;
        margin-top: 50px;
        
    }
    .crd h2 {
        font-family: Epilogue;
        font-size: 56px;
        font-style: normal;
        font-weight: 800;
        line-height: 94px;
        letter-spacing: -1px;
        text-align: left;
        
    }
    input {
        height: 50px; 
        width: 80%;
        margin: 10px;
        background-color: rgb(44, 56, 82);
          
    }
    textarea{
        background-color: rgb(44, 56, 82); 
       margin: 5px;
    }
    .card:hover{
        background: rgba(44, 56, 82, 1.4);
        height: 105%;
        pad: 20px;
    }
    .crts h1{
        font-family: Epilogue sans-serif;
        font-size: 40px;
        font-style: normal;
        /* font-weight: 800; */
        line-height: 20px;
        letter-spacing: -2px;
        color: white;
        text-align: center;
    }
    .certs h2{
        color: aliceblue;
    }

button{
    margin-left: 2%;
    height: 80px;
    width: 300px;
    border-radius: 30px;
    background-color: #191919;
    color: aliceblue;
    margin-top: 30px;
}

.socials  ul{
    list-style-type: none;
    /* margin-left: 50px; */
    padding: 30px 10px 20px 10px;
    /* display: inline-block; */
    float: right;
    
}
.socials img{
    width: 50px;
    height: 50px;
    margin-bottom: 20px; 
    margin-right: 30px;  
    margin-right: 100px;
}
footer {
    min-height: 150px;
    background-color: rgba(0, 0, 112, 0.5);
    margin-top: 50px;
}



